#board { 
    max-width: 600px;
    max-height: 600px;
}

.instructions-wrapper .instructions {
    text-align: left;
    display: block;
    padding-left: 5px;
}

.board-buttons-wrapper {
    margin-top: 5px;
}

.board-buttons-wrapper .btn {
    margin: 5px;
    margin-top: 0px;
}

.label.rounds-remaining {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

.App {
    margin-top: 5px;
}

.title-buttons {
    margin-top: 10px;
}

.title-buttons .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.title-logo {
    max-height: 300px;
    max-width: 300px;
}