#board { 
    max-width: 600px;
    max-height: 600px;
}

.instructions-wrapper {
    margin-top: 50px;
}

.instructions-wrapper .instructions {
    text-align: left;
}

.board-buttons-wrapper {
    margin-top: 5px;
}

.board-buttons-wrapper .btn {
    margin: 5px;
    margin-top: 0px;
}

.label.rounds-remaining {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

.App {
    margin-top: 5px;
}